

<h2>Pentaianer</h2>
<ul class="players">
  <li *ngFor="let player of players" (click)="onSelect(player)">
    <span class="badge">{{player.name}}</span> {{player.points}}
  </li>
</ul>
Test

<h2>My Heroes</h2>
<ul class="players">
  <li *ngFor="let player of players"
    [class.selected]="player === selectedPlayer"
    (click)="onSelect(player)">
    <span class="badge">{{player.id}}</span> {{player.name}}
  </li>
</ul>
 
<div *ngIf="selectedPlayer">
 
  <h2>{{selectedPlayer.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedPlayer.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedPlayer.name" placeholder="name">
    </label>
  </div>
 
</div>